html, body {
	margin: 20px;
	background-color: grey;
}

h1 {
	color: red;
	border: 1px solid red;
}

h2 {
	color: green;
	text-decoration: underline;
}

p {
	color: blue;
}

.elementCategorie img {
	height: 1em;
}

table#credits img {
	height: 2em;
}

.images:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.categorie .image {
	float: left;
	position: relative;
	margin: 10px;
	padding: 5px;
	border: 1px outset grey;
}

.categorie .image .tampon {
	height: 200px;
}

.categorie .image img {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	display: block;
}

.categorie .image span {
	position: relative;
	display: block;
	max-width: 200px;
}