.pkmn {
  display: grid;
  grid-template-columns: calc(96px+6px) auto;
  grid-template-rows: [head] 26px [type] 1em [desc] auto;
  grid-template-areas:
    "nom nom "
    "img types"
    "img desc";
}
.pkmn .nom {
  font-variant: small-caps;
  font-size: 20px;
  grid-area: nom;
}
.pkmn .img {
  grid-area: img;
}
.pkmn .img img {
  background-color: white;
  border-color: 1px solid red;
  margin: 2px;
}
.pkmn .types {
  grid-area: types;
}
.pkmn .desc {
  grid-area: desc;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
  color:white;
}
.blue {
  background-color: blue;
  color:white;
}
.brown {
  background-color: brown;
}
.gray {
  background-color: gray;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.red {
  background-color: red;
}
.white {
  background-color: white;
}
.yellow {
  background-color: yellow;
}
