body{
  font-size: 20px;
}

code:before {
  content: "\00AB";
}

code:after {
  content: "\00BB";
}

.example {
  width: 100%;
  border: 1px solid black;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.example > * {
  background-color: lightgrey;
  margin: 20px;
}
.example > .fullsource {
  grid-column: 1/-1;
}
.example > .source,
.example > .fullsource {
  font-family: monospace;
  white-space: pre-wrap;
  padding: 5px;
}
