<!DOCTYPE html>
<html>
  <head>
    <title>Coderdojo Pokedex</title>
    <meta charset="utf-8" />
    <script src="js/jquery.js"></script>
    <script src="https://unpkg.com/rxjs@6.5.4/bundles/rxjs.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
    <script src="js/main.js"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <h1>Pokedex&nbsp;!</h1>
    <h2>Liste</h2>
    <script id="template" type="x-tmpl-mustache">
      {{#pokemon}}
      <div class="pkmn {{color}}">
        <div class="nom">
          {{#nom}}
          <div>{{.}}</div>
          {{/nom}}
        </div>
        <div class="img"><img src="{{image}}" /></div>
        <div class="types">{{#types}}{{.}} {{/types}}</div>
        <ul class="desc">
          {{#description}}
          <li>{{.}}</li>
          {{/description}}
        </ul>
      </div>
      {{/pokemon}}
    </script>
    <span id="target"></span>
  </body>
</html>
