/*
En fonction des langages les commentaires sont délimités par des symboles différents. en html c'est "<!-- -->" ici c'est /* puis pour reprendre le code CSS * suivit de / .
*/

/* il est possible de donner des instructions de formatage à des balises en utilisant leur nom tel quel., on peut aussi donner des instructions pour les éléménts qui ont une classe particulière en précédent le nom par un "." ou un attribut id en précédent le nom par "#". Il existe de nombreuses façons de représenter les règles que l'on peut trouver sur internet.*/
body{/* En CSS, il y a un selecteur (avant le '{') puis entre accolades '{}' un ensemble de propriétées et leurs valeurs*/

/* ici, nous indiquons le fond du corps du HTML. plus particulèrement l'adresse d'une image, la couleur à positionner si l'image à une transparence puis des règles de répétition du fond*/
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Blank_map_of_Europe_%28with_disputed_regions%29.svg/680px-Blank_map_of_Europe_%28with_disputed_regions%29.svg.png') #EEF5FF no-repeat;
  /* c'est équivalent à :*/
  background-color: #EEF5FF;
  background-image: url('../images/carte.png');/*Ici, on remplace l'image sur internet par une copie locale. Comme le dossier images n'est pas dans le dossier CSS, il faut remonter d'un niveau avec les ".."*/
  background-repeat: no-repeat;
  
  /* ici, nous indiquons signalons une marge de 20px qui s'appliquera à tout le corps de la page. (puisque nous travaillons sur <body> comme l'indique le selecteur plus haut*/
    margin: 20px;
}

h1{/* Ici, on travaille sur le titre*/
  border: 1px solid black;/*Ici, nous entourons le titre d'une bordure noire*/
  background-color: #A0F5FF;
  color: #5F0A00;;/*et nous écrirons en une forme de bordeau*/
}

h2{
  border: 1px solid #A0F5FF;/*ici, une bordure un peu cyan clair*/
  background-color: #EEEEEE;/* Et une couleur de fond gris clair*/
}

table{
  border-collapse: collapse;;/*Ceci n'existe que pour les <table>. Celle-ci dit que les bordures sont collées. Essayez sans pour voir ce que ça donne.*/
  border: 2px solid blue;
}
td,th{/*La virgule permet de dire que les règles s'appliquent aux <td> et au <td>. si la virgule était absente, la règle s'appliquerai aux <th> inclus dans un <td>. essayez de mettre une couleur avec la règle "tbody td" pour tester*/
  border: 1px solid black;
}

/*ici, on applique un style sur une balise non pas pour le nom qu'elle porte mais sur l'un des mots présents dans son attribut class .*/
.periode{
  /*ici, on précise la largeur.*/
  width: 200px;
  /*L'élément essaiera de remplir la largeur en collant à gauche. En cas de manque de passe, il tentera d'aller vers le bas. Essayez de jouer avec la largeur de la fenêtre*/
  float: left;
  /*la marge est l'espace autour de l'élément*/
  margin: 2px;
  /*La bordure, en plus d'être décorative lorsqu'elle est visible délimite l'intérieur de l'extérieur de l'élément*/
  border: 1px solid black;
  /*le padding est l'espace à l'intérieur de l'élement à partir de laquelle le texte où les marges des autres blocs commenceront.*/
  padding: 5px;
}
.nom{
  /*Içi on précise l'alignement du texte  */
  text-align: center;
  border: 1px solid #555555;
  background-color: #CCCCCC;
}
.description{
  color: #006655;
}
.moment{
  /*on peut aussi souligner le texte. Il existe d'autres attributs pour en régler la couleur ou la forme si nécéssaire*/
  text-decoration: underline;
}

